.movie-poster {
  margin: auto;
  display: flex;
  justify-content: center;
}

.label {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.value {
  display: flex;
  justify-content: center;
}

.moviebutton {
  display: flex;
  justify-content: center;
}
